#contact {
  background-color: #ECECEC;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 100px 0;
}


#contact #container {
  width: 100%;
  margin-top: 40px;
  display: flex;
  flex-direction: row;
  justify-content: center;
}

#form {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  align-content: center;
}


#form textarea, #form input {
  border: none;
  outline: none;
  /* add border to bottom and left */
  border: 3px solid #282828;
/*  border-right: 3px solid #282828;
*/  /* pad to siblings */
  padding: 10px;
  padding-bottom: 0;
  /* add margin to siblings */
  margin: 10px auto;
  /* font settings */
  font-size: 12px;
  letter-spacing: 1px;
  font-weight: 900;
  color: #000;
  /* defined height and width */
  height: 40px;
  width: 85%;
  /* background is none */
  background: none;
}

#form textarea {
  resize: none;
  height: 200px;
  margin-bottom: 30px;
}

#send {
  margin-top: 20px;
}


.message {
  height: 60px;
  width: 90%;
  margin: 50px 0;
  border: 2px solid black;
  display: flex;
  flex-direction: column;
  justify-content: center;
  text-align: center;
}

#success {
  margin-bottom: 20px;
  margin-top: 100px;
  border: 2px solid green;
  background-color: #38D653;
  margin-top: 5px;
  display: none;
}

#error {
  border: 2px solid #904A44;
  background-color: #D6092C;
  display: none;
}

#description {
  width: 35%;
  margin-right: 100px;
}


#contact #award-title {
  margin-left: 10px;
  font-size: 15px;
  letter-spacing: 0.2rem;
  text-transform: none;
  text-align: left;
}

#contact p {
  margin-top: 20px;
  line-height: 1.2rem;
  letter-spacing: 0.1rem;
  color: #000;
  font-weight: 400;
  font-size: 15px;
  margin-bottom: 50px;
  text-transform: none;
  text-align: left;
}

@media only screen and ( max-width: 1100px ) {
  #contact #container {
    flex-direction: column;
    align-items: center;
    width: 80%;
  }
  #form {
    width: 90%;
  }
  #description {
    width: 95%;
    margin-right: 0;
    text-align: center;
  }

}
@media only screen and ( max-width: 850px ) {
  #contact #container {
    width: 90%;
  }
  #form {
    width: 100%;
  }
  #description {
    width: 100%;
  }

  #contact #award-title {
    font-size: 12px;
  }
  #contact p {
    font-size: 11px;
  }

}