/**
 * KevinYangsWebsite
 * Fonts.css
 * 
 * @author Brandon Li <brandon.li820@icloud.com>
 * Created on 4/19/19
 * Copyright © 2019 Brandon Li. All rights reserved.
 *
 * ##Description
 * Load all the used on this site.
 */


@import url('https://fonts.googleapis.com/css?family=Montserrat:400,700,900');

@import url('https://fonts.googleapis.com/css?family=Open+Sans:400,700,300,900');

@import url('https://fonts.googleapis.com/css?family=Roboto+Condensed');

@import url('https://fonts.googleapis.com/css?family=Open+Sans');

@font-face { 
  font-family: Raleway; 
  src: url( "../Fonts/Raleway/Raleway-Regular.ttf" ); 
} 

@font-face { 
  font-family: Julius Sans One; 
  src: url( "../Fonts/Julius_Sans_One/JuliusSansOne-Regular.ttf" ); 
}  

@font-face { 
  font-family: Lato; 
  src: url( "../Fonts/Lato/Lato-Regular.ttf" ); 