#footer {
  background-image: radial-gradient(
    circle, #e0e0e0, #BFBFBF, #B0B0B0, #AAA, #999
  );
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 100px 0;
  align-items: center;
}

#top {
  display: flex;
  align-items: center;
  flex-direction: column;
  justify-content: space-between;
  width: 500px;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  font-size: 26px;
  letter-spacing: 0em;
  line-height: 1.5em;
  font-weight: 900;
  color: #000;
}

#top .button {
  border: none;
}
#bottom {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.footer-nav {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-right: 60px;
}

#credit {
  align-self: center;
  font-family: 'Montserrat';
  -webkit-font-smoothing: antialiased;
  font-size: 18px;
  width: 500px;
  letter-spacing: 0em;
  align-self: center;
  line-height: 1.5em;
  font-weight: 700;
  margin-top: 20px;
  color: #000;
  margin-left: 30px;
}

#credit a {
  color: inherit;
}
#copyright {
  font-size: 15px;
  margin-top: 20px;
  font-weight: 100;
  color: #1c1c1c;
}

.socials {
  display: flex;
  flex-direction: column;
  align-self: center;
  margin-right: 100px;
}

.social {
  filter: invert( 1 );
  margin: 10px auto;
}

.social img:hover {
  opacity: 0.3;
}
.social img {
  width: 20px;
  opacity: 0.7
}

#mountain {
  position: absolute;
  bottom: 0;
  width: 1000px;
  max-width: 90%;
  min-width: 800px;
  filter: invert( 0.5 );
  opacity: 0.5;
}


@media only screen and ( max-width: 1050px ) {
  #credit {
    font-size: 15px;
    width: 400px;
    letter-spacing: 0em;
    line-height: 1.5em;
    color: #000;
    margin-left: 0px;
  }
  #copyright {
    font-size: 14px;
    margin-top: 18px;
  }
  .socials {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 80px;
  }
  .footer-nav {
    margin-right: 40px;
  }
  #footer {
  }

}

@media only screen and ( max-width: 800px ) {
  #credit {
    font-size: 14px;
    width: 350px;
  }
  #copyright {
    font-size: 12px;
    margin-top: 17px;
  }
  .socials {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 40px;
  }
  .footer-nav {
    margin-right: 20px;
  }
  #footer {
    padding: 50px 0;
  }

}


@media only screen and ( max-width: 610px ) {
  #credit {
    font-size: 12px;
    width: 300px;
  }
  #copyright {
    font-size: 11px;
    margin-top: 16px;
  }
  .socials {
    display: flex;
    flex-direction: column;
    align-self: center;
    margin-right: 20px;
  }
  .footer-nav {
    margin-right: 0px;
  }
  #footer {
    padding: 30px 0;
  }
  #bottom {
    flex-wrap: wrap-reverse;
  }
}