/* the general starting style for the header */
#header {
  /* width: 100% the header goes all the way across the screen */
  /* start as invisible, but will fade to visible in this.animate() */
  background: rgba( 238, 238, 238, 0 );
  /* fixed height */
  height: 60px;
  width: 100%;
  /* display flex because it is displayed from left to right */
  display: flex;
  /* as mush space between as posible */
  justify-content: space-between;
  align-items: center;
  align-content: center;
  /* absolutely position to ignore siblings */
  position: fixed;
  top: 0;
  z-index: 10;
  padding: 20px 0;
  overflow: initial;
}

  
#logo {
  /* fixed width and height */
  height: 40px;
  width: 40px;
  /* start off as clear, then animate to visible */
  background: none;
  /* same vertical level */
  align-content: center;
  align-self: center;
  margin: 0 50px;
  filter: none;
}

#logo:hover {
  opacity: 0.7;
}

#responsive-icon {
  /* vertically align with the rest of the header */
  align-self: center;
  /* put some margin to the right so it doesn't stick to the wall */
  margin-right: 10px; 
  /* we want it to go above the label (brandon) so that we can click it */
  z-index: 3;
  display: none;
  width: 50px;
}

#responsive-icon:hover {
  opacity: 0.7;
  cursor: pointer;
}

#navigation {
  /* fixed width */
  width: 900px;
  max-width: 80%;
  /* fade from transparent */
  background: none;
  /* left to right */
  display: flex;
  /* go as far apart */
  justify-content: space-around;
  /* make the right have margin but the left not */
  margin: auto 10px auto 0px;
  align-self: center;
  flex-wrap: wrap;
  position: relative;
}


.link {
  border: none; /* overide */
  font-family: Montserrat;
  font-size: 12px;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 3px;
  color: rgb( 80, 80, 80 ); /* start as invisible */
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1em;
  padding: 10px 5px;
  text-decoration: none;
  opacity: 0;
}

#current {
  color: rgb( 0, 0, 0 ); /* start as invisible */
}


.mobile-link {
  border: none; /* overide */
  font-family: Montserrat;
  font-size: 20px;
  font-weight: 900;
  -webkit-font-smoothing: antialiased;
  letter-spacing: 3px;
  color: #ccc; /* start as invisible */
  text-transform: uppercase;
  white-space: nowrap;
  line-height: 1em;
  padding: 10px 5px;
  margin: 10px auto;
  text-align: left;
  padding-left: 20%;
  width: 100%;
  text-decoration: none;
}

.mobile-link:hover {
  color: #fefefe; /* start as invisible */
}
#mobile-current {
  color: white;
}


#mobile-navigation {
  /* start at 0 width but animate when the icon is clicked */
  width: 0;
  max-width: 100%;
  /* make the height 100%, this is calculated after the load in the node */
  min-height: 470px;
  /* set a minimum height too fit everything */
  background: #444;
  /* flex display to make it top to bottom */
  display: flex;
  flex-direction: column;
  /* ignore siblings */
  position: absolute;
  /* go all the way to the right */
  right: 0;
  top: 0;
  /* display this above everything else */
  z-index: 100;
  /* minimum width is 0 aswell */
  /* allow scrolling */
  overflow-y: scroll;

}

#mobile-navigation-exit {
  /* fixed */
  width: 30px;
  height: 30px;
  margin: 30px 20px 40px auto;
  z-index: 100;
  filter: invert( 1 );
}

#mobile-navigation-exit:hover {
  filter: invert( 0.8 );
  cursor: pointer;
}

@media only screen and ( max-width: 1015px ) {
  .link {
    font-size: 11px;
  }
}

@media only screen and ( max-width: 878px ) {
  .link {
    font-size: 10px;
  }
}

@media only screen and ( max-width: 780px ) {
  #navigation {
    display: none;
  }
  #responsive-icon {
    display: initial;
  }
}