#organizations {
  background-color: #F5F5F5;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 100px 50px;
}

#organizations h2 {
  margin-bottom: 100px;
}

#columns {
  width: 100%;
  max-width: 1600px;
  display: flex;
  flex-direction: row;
}

#leadership, #volunteer {
  flex-grow: 3;
  width: 50%;
}

#leadership #title , #volunteer #title {
  text-align: center;
  font-size: 35px;
  font-family: Montserrat;
  text-transform: uppercase;
  letter-spacing: 5px;
  font-weight: 700;
  text-decoration: underline;
  margin-bottom: 60px;
}

#organizations #item {
  overflow: hidden;
  height: 200px;
  position: relative;
}

#item {
  display: flex;
  flex-direction: row;
  padding: 0 60px;
}
#volunteer #item {
  flex-direction: row-reverse;
}

#leadership #item div {
  text-align: right;
}
#leadership #award-title {
  text-align: right;
}

#item #award-title {
  margin-left: 0;
  display: block;
}

#item div {
  font-family: 'Montserrat';
  font-size: 12px;
  font-weight: 500;
  line-height: 20px;
  color: #1c1c1c;
}

#item img {
  width: 130px;
  position: absolute;
  max-width: 80%;
  opacity: 0;
  left: 0;
  align-self: center;
}

#volunteer #item img {
  left: initial;
  right: 0;
}

@media only screen and ( max-width: 1160px ) {
  #leadership #title , #volunteer #title {
    font-size: 30px;
    letter-spacing: 4px;
    font-weight: 700;
  }
  #item div {
    font-size: 11px;
    font-weight: 500;
    line-height: 18px;
    color: #1c1c1c;
  }
  #item {
    padding: 0 40px;
  }
  #item img {
    width: 110px;
  }
  #leadership #item div {
    text-align: left;
  }
  #leadership #award-title {
    text-align: left;
  }
  #organizations #item {
    height: 180px;
  }
}

@media only screen and ( max-width: 859px ) {
  #leadership #title , #volunteer #title {
    font-size: 25px;
    letter-spacing: 4px;
    font-weight: 700;
  }
  #item div {
    font-size: 9px;
    font-weight: 500;
    line-height: 14px;
    color: #1c1c1c;
  }
  #item img {
    width: 90px;
  }
  #columns {
    flex-direction: column;
  }

  #leadership, #volunteer {
    flex-grow: 3;
    width: 100%;
  }
  #organizations #item {
    height: 140px;
  }
  #organizations {
    padding: 50px 10px;
  }

}