#projects {
  background-color: #EFEFEF;
  display: flex;
  flex-direction: column;
  align-content: center;
  align-items: center;
  justify-content: flex-start;
  padding: 100px 0;
  height: 500px;
}

#projects h2 {
  margin-bottom: 80px;
}

#projects-container {
  border: 2px solid red;
  width: 100%;
}




.grid {
   margin: 0 auto;
  padding: 0;
  max-width: 100%;
  text-align: center;
  max-width: 95vw;
  margin: 2.5vw auto;

}



.grid-item {
   margin: 0 auto;
  padding: 0;
  max-width: 100%;
  width: 20%;
  border: 2px solid red;
  height: 50px;
  padding: 5px;
  box-sizing: border-box;
  display:inline;

}


/* Step 4: Add media queries (subjective) to make the whole grid resposive. */
/*
@media (min-width: 500px) {
  .grid-item {
    width: 50%;
  }
}

@media (min-width: 1000px) {
  .grid-item {
    width: 33.333%;
  }
}

@media (min-width: 1700px) {
  .grid-item {
    width: 25%;
  }
}

@media (min-width: 2100px) {
  .grid-item {
    width: 20%;
  }
}*/